################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/APIQuanLyCuaHang/bin
/APIQuanLyCuaHang/obj
/APIQuanLyCuaHang/.vs/APIQuanLyCuaHang/FileContentIndex
/APIQuanLyCuaHang/.vs/APIQuanLyCuaHang/v17
/APIQuanLyCuaHang/APIQuanLyCuaHang/bin/Debug/net8.0
/APIQuanLyCuaHang/APIQuanLyCuaHang/obj
/APIQuanLyCuaHang/.vs/APIQuanLyCuaHang/DesignTimeBuild

# If you see files like /bin or /obj, please run the code below before pushing your code:

# git rm -rf APIQuanLyCuaHang\.vs 
# git rm -rf APIQuanLyCuaHang\obj
# git rm -rf APIQuanLyCuaHang\bin
# git rm -rf APIQuanLyCuaHang\APIQuanLyCuaHang\obj
# git rm -rf APIQuanLyCuaHang\APIQuanLyCuaHang\bin
# git rm -rf .vs

.qodo
APIQuanLyCuaHang/.vs
APIQuanLyCuaHang/.vs
APIQuanLyCuaHang/.vs
.vscode/settings.json
QuanLyCuaHangUXUI/.vscode/launch.json
APIQuanLyCuaHang/APIQuanLyCuaHang/DTO/DetailOrderManagerDTO.cs
APIQuanLyCuaHang/APIQuanLyCuaHang/DTO/OrderManagerDTO.cs
APIQuanLyCuaHang/APIQuanLyCuaHang/Repositories/OrderManager/IOrderManagerRepository.cs
APIQuanLyCuaHang/APIQuanLyCuaHang/Repositories/OrderManager/OrderManagerRepository.cs
APIQuanLyCuaHang/APIQuanLyCuaHang/Controllers/OrderManagerController.cs
QuanLyCuaHangUXUI/QuanLyCuaHangProject/src/views/admin/OrderManager.vue
.vscode
APIQuanLyCuaHang/APIQuanLyCuaHang/obj
# git rm -rf APIQuanLyCuaHang\APIQuanLyCuaHang\obj
APIQuanLyCuaHang/APIQuanLyCuaHang/obj
APIQuanLyCuaHang/APIQuanLyCuaHang/bin

QuanLyCuaHangUXUI/QuanLyCuaHangProject/obj
QuanLyCuaHangUXUI/QuanLyCuaHangProject/bin
